<div class="container container-detalhes-carro">
  <div class="row pb-5">
    <div class="col-lg-12">
      <div class="header">
        <h3><label for="inputTitulo"><%=automovel.Titulo%></label></h3>
      </div>
    </div>
  </div>
  <form method = "post" form action = "/automovel/reserva/<%=automovel.Placa%>" enctype = "multipart/form-data">

    <div class="row ">
      <div class="col-md-7 col-sm-6 offset-md-1">
        <div class="form-group ">
          <label for="inputMarca">Marca:</label>
          <span><%=automovel.Marca%></span>
        </div>
        <div class="form-group ">
          <label for="inputModelo">Modelo:</label>
          <span><%=automovel.Modelo%></span>
        </div>

        <div class="row">
          <div class="form-group col-lg-2 col-md-12">
            <label for="inputAno">Ano:</label>
            <span><%=automovel.Ano%></span>
          </div>
          <div class="form-group col-lg-4 col-md-12 offset-lg-1">
            <label for="inputCambio">Câmbio:</label>
            <span><%=automovel.Cambio%></span>
          </div>
        </div>

        <div class="form-group">
          <label for="inputDirecao">Direção:</label>
          <span><%=automovel.Direcao%></span>
        </div>
        <div class="form-group">
          <label for="inputPotênciaMotor">Potência do Motor:</label>
          <span><%=automovel.PotenciaMotor%></span>
        </div>
        <div class="form-group">
          <label for="inputTipoVeiculo">Tipo de Veículo:</label>
          <span><%=automovel.Tipo%></span>
        </div>
        <div class="row">
          <div class="form-group col-lg-2 col-md-12">
            <label for="inputPortas">Portas:</label>
            <span><%=automovel.Portas%></span>
          </div>
          <div class="form-group col-lg-2 col-md-12 offset-lg-1">
            <label for="inputCor">Cor:</label>
            <span><%=automovel.Cor%></span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-9">
            <label for="inputModelo">Descrição:</label>
            <span><%=automovel.Descricao%></span>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPreço">Preço diária:</label>
          <span> R$<%=automovel.PrecoDiaria%></span>
        </div>
        <div class="form-group">
          <label for="inputLocalizacao">Localização:</label>
          <span> <%=automovel.Cidade%>, <%=automovel.Estado%></span>
        </div>
        <div class="row">
          <div class="form-group col-lg-2 col-md-12">
            <label for="inputLocatário">Locatário:</label>
          </div>
          <div class="form-group col-lg-2 col-md-12 offset-lg-1">
            <a href="/usuario/about/<%=automovel.CPF%>"><button type="button" class="btn btn-secondary">Ver Perfil</button></a>

          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-5">
        <div class="row d-flex justify-content-left" >

          <div class="card bg-light ml-3 mr-3" >
            <img class="card-img-top" src="/images/automovel/<%=automovel.FotoVeiculoFrente%>" class="rounded" alt="Card image cap">
            <div class="card-body d-flex justify-content-center">
              <div class="row center divstar">
                <div class="form-group divstar   starrating ">
                  <input type="radio" id="star1" class="star" name="dialogo" value="1" /><label class="fas fa-star" for="star1" title="1 estrela"></label>
                  <input type="radio" id="star2" class="star" name="dialogo" value="2" /><label class="fas fa-star" for="star2" title="2 estrelas"></label>
                  <input type="radio" id="star3" class="star" name="dialogo" value="3" /><label class="fas fa-star" for="star3" title="3 estrelas"></label>
                  <input type="radio" id="star4" class="star" name="dialogo" value="4" /><label class="fas fa-star" for="star4" title="4 estrelas"></label>
                  <input type="radio" id="star5" class="star" name="dialogo" value="5" /><label class="fas fa-star" for="star5"   title="5 estrelas"></label>
                </div>
              </div>
            </div>
          </div>

          <!-- Fazer ifs dos adicionais -->
        </div>
        <br/>
        <div class="row  offset-md-3">
          <label class="labelAdicional" for="inputAdicionais">Adicionais</label>
        </div>
        <br/>

        <div class="row justify-content-left">
          <div class="form-group col-lg-4 col-md-12 form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="airBag" value="airBag" <% if (automovel.AirBag){ %> checked <% } %> >
            <label class="form-check-label" for="airBag">Air bag</label>
          </div>
          <div class="form-group  col-lg-6 col-md-12 form-check form-check-inline ">
            <input class="form-check-input" type="checkbox" id="arCondicionado" value="arCondicionado" <% if (automovel.ArCondicionado){ %> checked <% } %> >
            <label class="form-check-label" for="arCondicionado">Ar condicionado</label>
          </div>
        </div>
        <div class="row justify-content-left">
          <div class="form-group col-lg-3 col-md-12 form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="alarme" value="alarme" <% if (automovel.Alarme){ %> checked <% } %> >
            <label class="form-check-label" for="alarme">Alarme</label>
          </div>
          <div class="form-group  col-lg-6 col-md-12 form-check form-check-inline offset-lg-1">
            <input class="form-check-input" type="checkbox" id="travaEletrica" value="travaEletrica" <% if (automovel.TravaEletrica){ %> checked <% } %> >
            <label class="form-check-label" for="travaEletrica">Trava elétrica</label>
          </div>
        </div>

        <div class="row d-flex justify-content-left">
          <div class="form-group col-lg-3 col-md-12  form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="som" value="som" <% if (automovel.Som){ %> checked <% } %>>
            <label class="form-check-label" for="som">Som</label>
          </div>
          <div class=" form-group col-lg-6 col-md-12 form-check form-check-inline offset-lg-1">
            <input class="form-check-input" type="checkbox" id="vidroEletrico" value="vidroEletrico" <% if (automovel.VidroEletrico){ %> checked <% } %>>
            <label class="form-check-label" for="vidroEletrico">Vidro elétrica</label>
          </div>
        </div>

        <div class="row justify-content-left">
          <div class="form-group col-lg-3 col-md-12 form-check form-check-inline ">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" <% if (automovel.Blindado){ %> checked <% } %>>
            <label class="form-check-label" for="inlineCheckbox1">Blindado</label>
          </div>
          <div class="form-group col-lg-6 col-md-12 form-check form-check-inline offset-lg-1">
            <input class="form-check-input" type="checkbox" id="sensorRe" value="sensorRe" <% if (automovel.SensorRe){ %> checked <% } %>>
            <label class="form-check-label" for="sensorRe">Sensor de ré</label>
          </div>
        </div>

        <div class="row justify-content-left">
          <div class="form-group col-md-12 col-lg-6 form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="cameraRe" value="cameraRe" <% if (automovel.CameraRe){ %> checked <% } %>>
            <label class="form-check-label" for="cameraRe">Câmera de ré</label>
          </div>
        </div>
        <br/>
        <div class="row justify-content-center mb-3">
          <button type="button" class="btn btn-info" href="#login" data-toggle="modal" data-target="#myModal">Fazer Reserva</button>
        </div>

      </div>
    </div>

  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Fazer Reserva</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			
			<!-- Modal body -->
			<div class="modal-body">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label class="modal-label" for="inputInicioReserva">Início da reserva</label>
							<input class="form-control date" id="inputInicioReserva" name="DataInicio" placeholder="dia/mes/ano" type="text"/>
						</div>
						
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label class="modal-label" for="inputFimReserva">Fim da reserva</label>
							<input class="form-control date" id="inputFimReserva" name="DataFim" placeholder="dia/mes/ano" type="text"/>
						</div>
					</div>
			</div>
			
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="submit" class="btn btn-success">Fazer Reserva</button>
				
			</div>
			
		</div>
	</div>
</div>

</form>
</div>