<h1 class="titulo">Adicionar Novo Automóvel</h1>

<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <form method="post" action="/automovel/update">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="placa">Placa</label>
                      <input type="text" name="placa" class="form-control" value="<%=automovel.placa%>" required>
                    </div>
                    <div class="col-md-4  mb-3">
                      <label for="modelo">Modelo</label>
                      <input type="text" name="modelo" class="form-control" value="<%=automovel.modelo%>" required>
                    </div>
                    <div class="col-md-4  mb-3">
                      <label for="cor">Cor</label>
                      <input type="text" name="cor" class="form-control" value="<%=automovel.cor%>" required>
                    </div>
                    <div class="col-md-4  mb-3">
                      <label for="chassi">Chassi</label>
                      <input type="text" name="chassi" class="form-control" value="<%=automovel.chassi%>" required>
                    </div>
                
                    <div class="col-md-4 mb-3">
                      <label for="dataInicio">Data de Início</label>
                      <input type="date" name="dataInicio" class="form-control" required>
                    </div>
                
                    <div class="col-md-4 mb-3">
                      <label for="dataFim">Data de Fim</label>
                      <input type="date" name="dataFim" class="form-control" required>
                    </div>
                    
                    <div class="col-md-4 mb-3">
                      <label for="cidade">Cidade</label>
                      <input type="text" name="cidade" class="form-control" value="<%=automovel.cidade%>" required>
                    </div>
                
                    <div class="col-md-4 mb-3">
                      <label for="estado">Estado</label>
                      <input type="text" name="estado" class="form-control" value="<%=automovel.estado%>" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="disponibilidade" <% if (automovel.disponibilidade){ %> checked <% } %>>
                      <label class="form-check-label" for="disponibilidade">Disponivel</label>
                    </div>
                </div>
                <div class="form-row">  
                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="possuiSeguro" <% if (automovel.possuiSeguro){ %> checked <% } %>>
                      <label class="form-check-label" for="possuiSeguro">Possui Seguro?</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="descricao">Descrição</label>
                      <textarea name="descricao" rows="8" cols="80">
                          <%= automovel.descricao %>
                      </textarea>
                    </div>
                </div>
                <input class="btn btn-primary"  type="submit" value="Salvar">
            </form>
        </div>
    </div>
    
    <a href="/automovel/list" class="btn btn-outline-light">Voltar aos Automóveis</a>
</div>