<div class="container container-list-cars">
  <div class="row pb-5">
    <div class="col-lg-12">
      <div class="header ">
        <h3>Resultados da Busca</h3>
      </div>
    </div>
  </div>



  <div class="card-columns row d-flex justify-content-center">
    <% automoveis.forEach(function(automovel){ %>
      <div class="card-car-list card bg-light border-dark mb-3 mr-3" style="max-width: 22rem;">
        <img class="card-img-top" src="/images/automovel/<%=automovel.FotoVeiculoFrente%>" alt="Card image cap"> 
  
        <div class="card-header">
          <div class="form-row">
            <h5 class="card-title"><%= automovel.Titulo %><br></h5>
            <div class="form-group reverse starrating offset-sm-2">
              <input type="radio" id="star5" class="star" name="dialogo" value="5" /><label class="fas fa-star" for="star5"   title="5 estrelas"></label>  
              <input type="radio" id="star4" class="star" name="dialogo" value="4" /><label class="fas fa-star" for="star4" title="4 estrelas"></label>
              <input type="radio" id="star3" class="star" name="dialogo" value="3" /><label class="fas fa-star" for="star3" title="3 estrelas"></label>
              <input type="radio" id="star2" class="star" name="dialogo" value="2" /><label class="fas fa-star" for="star2" title="2 estrelas"></label>
              <input type="radio" id="star1" class="star" name="dialogo" value="1" /><label class="fas fa-star" for="star1" title="1 estrela"></label>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div  class="row">
            <div class="col-lg-12">
              <p class="card-text">Disponivel em: <%= automovel.Cidade%>, <%= automovel.Estado%></p>
            </div>
            <div class="col-lg-12 ">
              <p class="card-text">Preço: R$<%= automovel.PrecoDiaria%> por dia</p>
            </div>
          </div>
        </div>

        <div class="card-footer text-right">
          <a href="/automovel/about/<%=automovel.Placa%>" class="btn btn-info">Ver Mais</a>
        </div>
      </div>
    <% })%>
  </div>
</div>





