<div class="container">
  <img src="/images/usuario/<%=usuario.Foto%>" class="rounded mx-auto d-block" alt="Responsive image">

  <div class="form-row">
    <div class="col-md-8 offset-md-1">
      <label for="inputUserName"><%=usuario.Nome%></label>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group reverse starrating offset-md-2">
      <input type="radio" id="star5_preco" name="preco" value="5" onclick="javascript: return false;" /><label class="fas fa-star" for="star5_preco" title="5 estrelas"></label>
      <input type="radio" id="star4_preco" name="preco" value="4" /><label class="fas fa-star" for="star4_preco" title="4 estrelas"></label>
      <input type="radio" id="star3_preco" name="preco" value="3" /><label class="fas fa-star" for="star3_preco" title="3 estrelas"></label>
      <input type="radio" id="star2_preco" name="preco" value="2" /><label class="fas fa-star" for="star2_preco" title="2 estrelas"></label>
      <input type="radio" id="star1_preco" name="preco" value="1" /><label class="fas fa-star" for="star1_preco" title="1 estrela"></label>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4 offset-md-4">
      <label for="inputCidade"><%=usuario.Cidade%>, <%=usuario.Estado%></label>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4 offset-md-1">
      <label for="inputContato">Contato</label>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4 offset-md-2">
      <label for="inputEmail">Email: <%=usuario.Email%></label>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4 offset-md-2">
      <label for="inputTelefone">Telefone: <%=usuario.Telefone%></label>
    </div>
  </div>

  <div class= "form-row">
    <div class= "col-6 col-md-2 offset-md-1">
      <button type="submit" class="btn btn-info" id="botaoCarros_User"> Carros Disponíveis </button>
    </div>
  </div>
</div>
