<div class="container sobre-usuario">
  
  <div class="row">
  <div class="col-lg-3 offset-lg-1 col-md-6">
  <div class="card bg-light border-dark mb-3 mr-3" style="max-width: 18rem; min-width: 18rem;">
    <div class="classimage d-flex justify-content-center"> <img class="card-img-top" src="/images/usuario/<%=usuario.Foto%>" alt="foto do usuário"> </div>
  </div>
    <div class="row">
     <div class="col-md-6 mb-3">
          <form action="/automovel/list/<%=usuario.CPF%>">
                <button type="submit" href="/automovel/list/<%=usuario.CPF%>" class="btn btn-info" id="botaoCarros_User"> Meus Carros </button>
          </form>
    </div>
     <div class="col-md-6 mb-3">
      <form action="/usuario/delete/<%=usuario.CPF%>">
            <button type="submit" href="/usuario/delete/<%=usuario.CPF%>" class="btn btn-danger" id="botaoExcluir"> Excluir Perfil </button>
      </form>
    </div>
     
 </div>
</div>

<div class="col-lg-3 offset-lg-1 col-md-3">
  <div class="form-row">
    <div class="col-md-8 offset-md-1">
      <label class="nome" for="inputUserName"><%=usuario.Nome%></label>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group reverse starrating offset-sm-2">
      <input type="radio" id="star5" class="star" name="dialogo" value="5" <%if(Math.floor(usuario.Avaliacao) == 5) {%> checked <% } %>
      %><label class="fas fa-star" for="star5" title="5 estrelas"></label>
      <input type="radio" id="star4" class="star" name="dialogo" value="4" <%if(Math.floor(usuario.Avaliacao) == 4) {%> checked <% } %>/><label class="fas fa-star" for="star4" title="4 estrelas"></label>
      <input type="radio" id="star3" class="star" name="dialogo" value="3" <%if(Math.floor(usuario.Avaliacao) == 3) {%> checked <% } %>/><label class="fas fa-star" for="star3" title="3 estrelas"></label>
      <input type="radio" id="star2" class="star" name="dialogo" value="2" <%if(Math.floor(usuario.Avaliacao) == 2) {%> checked <% } %>/><label class="fas fa-star" for="star2" title="2 estrelas"></label>
      <input type="radio" id="star1" class="star" name="dialogo" value="1" <%if(Math.floor(usuario.Avaliacao) == 1) {%> checked <% } %>/><label class="fas fa-star" for="star1" title="1 estrela"></label>
    </div>
  </div>

  <div class="form">
    <div class="form-group col-md-4">
      
      <label for="inputCidade">Localização: </label>
      </div>
     
      <div class="form-group col-md-10">
       <label for="inputLocal"> <%=usuario.Cidade%>, <%=usuario.Estado%></label>

      </div>
  </div>
  </div>
  
  
  <div class="col-lg-3 col-md-3">
  <div class="form-row">
    <div class="form-group col-md-4 offset-md-1">
      <label for="inputContato">Contato</label>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4 offset-md-2">
      <label for="inputEmail">Email: <%=usuario.Email%></label>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4 offset-md-2">
      <label for="inputTelefone">Telefone: <%=usuario.Telefone%></label>
    </div>
  </div>

 
  
  </div>
  </div>

</div>
