<h1 class="titulo">Minhas Reservas</h1>
<div class="container-fluid listar-alugueis">
  <div class="row  justify-content-center">
    <% alugueis.forEach(function(aluguel){ %>
      <div class="card row reserva" style="flex-direction:row; border:2px solid rgba(255,255,255,0.3);background-color: #0F2027;">
  				<div class="bg-light col-lg-3 col-md-6 col-sm-5 d-flex align-items-center" style="max-width: 22rem;">
							<img class="card-img-top" src="/images/automovel/<%=aluguel.FotoVeiculoFrente%>" alt="foto do automóvel">
				</div>

						<div class="aluguel center col-lg-2 col-sm-2 col-md-2 d-flex align-items-center">
							<h5 class="card-title"><%=aluguel.titulo%></h5>
						</div>
						
						<div class="aluguel center col-lg-3 col-md-3 col-sm-2 d-flex align-items-end mb-3" >
							<p class="card-text">Reservado de <%=new Date(aluguel.DataInicio).getDate()%>/0<%= 1 + new Date(aluguel.DataInicio).getMonth()%>/<%= 1900 + new Date(aluguel.DataInicio).getYear()%> e <%=new Date(aluguel.DataFim).getDate()%>/0<%= 1 + new Date(aluguel.DataFim).getMonth()%>/<%= 1900 + new Date(aluguel.DataFim).getYear()%></p>
						</div>
          

    			<div class=" center col-lg-4 col-md-2 col-sm-2 d-flex align-items-center reserva">
							<div class="row reserva">
								<div class="col-lg-6 col-md-6 col-sm-6 reserva">
								<a href="/usuario/about/<%=aluguel.CPFDono%>">	<button type="button" class="btn btn-info mb-3">Contatar Locatário</button> </a>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 reserva">
								<a href="/usuario/about/<%=aluguel.Placa%>">	<button type="button" class="btn btn-info mb-3">Perfil do Carro</button> </a>
								</div>
							</div>
	</div>
      </div>
    <% })%>
  </div>
</div>