<h1 class="titulo">Editar</h1>
<div class="container mt-4">
    <div class="card">
      <div class="card-body">
            <form method="post" action="/usuario/update">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                      <label for="cpf">CPF</label>
                      <input type="text" name="cpf" class="form-control" value="<%= usuario.cpf %>" required>
                    </div>
                    <div class="col-md-4 offset-md-4 mb-3">
                      <label for="nome">Nome</label>
                      <input type="text" name="nome" class="form-control" value="<%= usuario.nome%>" required>
                    </div>
                
                    <div class="col-md-4 mb-3">
                      <label for="nascimento">Data de Nascimento</label>
                      <input id="nascimento" type="date" name="nascimento" class="form-control" value="" required>
                    </div>
                
                    <div class="col-md-4 offset-md-4 mb-3">
                      <label for="rg">RG</label>
                      <input type="text" name="rg" class="form-control" value="<%= usuario.rg%>" required>
                    </div>
                
                    <div class="col-md-4 mb-3">
                      <label for="email">Email</label>
                      <input type="email" name="email" class="form-control" value="<%= usuario.email%>"  required>
                    </div>
                    
                    <div class="col-md-4 offset-md-4 mb-3">
                      <label for="senha">Senha</label>
                      <input type="password" name="senha" class="form-control" value="<%= usuario.senha%>"required>
                    </div>
                </div>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="endereco">Endereço</label>
                  <input type="text" name="endereco" class="form-control" value="<%= usuario.endereco%>" required>
                </div>
                <div class="col-md-4 offset-md-4 mb-3">
                  <label for="telefone">Telefone</label>
                  <input type="text" name="telefone" class="form-control" value="<%= usuario.telefone%>" required>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label for="cidade">Cidade</label>
                  <input type="text" name="cidade" class="form-control" value="<%= usuario.cidade%>" required>
                </div>
                <div class="col-md-4 offset-md-4 mb-3">
                  <label for="estado">Estado</label>
                  <input type="text" name="estado" class="form-control" value="<%= usuario.estado%>" required>
                </div>
              </div>
              <input class="btn btn-primary"  type="submit" value="Salvar">
            </form>
        </div>
    </div>
    
    <a href="/usuario/list" class="btn btn-outline-light">Voltar aos Usuários</a>
</div>


<script>
  document.getElementById("nascimento").value =`${<%= 1900 + new Date(usuario.nascimento).getYear()%>}-${("0" + <%=(new Date(usuario.nascimento).getMonth() + 1)%>).slice(-2)}-${("0" + <%=new Date(usuario.nascimento).getDate()%>).slice(-2)}`;
</script>