<div class="container content rounded editar-usuario">
    <div class="row">
      <div class="col-lg-12">
        <div class="header">
          <h1>Editar Perfil</h1>
            <div class="card border-white mb-3 mr-3 d-flex justify-content-center " style="max-width: 18rem; min-width: 18rem;">
            <div class="classimage editar-usuario d-flex justify-content-center"> <img class="card-img-top" src="/images/usuario/<%=usuario.Foto%>" alt="foto do usuário"> </div>
            </div>
        </div>
      </div>
    </div>
    <form method = "post" form action="/usuario/update" enctype="multipart/form-data">
      
       <div class="form-row">
        <div class="form-group col-md-8 offset-md-1">
          <label for="inputNome">Nome</label>
          <input type="email" class="form-control" id="inputEmail" name="Nome" placeholder="<%= usuario.Nome %>">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-8 offset-md-1">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" name="Email" placeholder="<%= usuario.Email %>">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-8 offset-md-1">
          <label for="inputEndereco">Endereço</label>
          <input type="text" class="form-control" id="inputEndereco" name="Endereco" placeholder="<%= usuario.Endereco %>">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4 offset-md-1">
          <label for="inputEstado">Estado</label>
          <select id="inputEstado" name="Estado" class="form-control">
            <option value=""><%= usuario.Estado %></option>
          </select>
        </div>
        <div class="form-group col-md-4 offset-md-2">
          <label for="inputCidade">Cidade</label>
          <select id="inputCidade" name="Cidade" class="form-control">
            <option value=""><%= usuario.Cidade %></option>
          </select>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-4 offset-md-1">
          <label for="inputTelefone">Telefone</label>
          <input class="form-control" id="inputTelefone" name="Telefone" placeholder="<%= usuario.Telefone %>" type="text">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3 offset-md-1">
          <label for="inputSenha">Senha</label>
          <input type="password" class="form-control" id="inputSenha" placeholder="Obrigatório*">
        </div>
      </div>
      
      <div class="form-row dragdrop-area dropzone">
        <div class="form-group offset-md-1">
          <label for="inputFotoPerfil">Trocar foto de perfil</label>
          <input type="file" class="form-control-file" id="FotoPerfil" name="FotoPerfil">
          <span>Ou arraste e solte uma foto na área pontilhada.</span>
        </div>
      </div>

      <div class= "form-row">
        <div class= "col-6 col-md-2 offset-md-1">
          <button type="submit" class="btn btn-danger" id="botaoCancelar"> Cancelar </button>
        </div>
        <div class= " col-6 col-md-2 offset-md-6 d-flex flex-row-reverse ">
          <button type="submit" class="btn btn-success" id="botaoFinalizar"> Atualizar </button>
        </div>
      </div>
    </form>
  </div>
